[Unit]
Description=CCTV Face Recognition Headless Attendance Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/absencctv/face-recognition-headless
ExecStart=/home/absencctv/face-recognition-headless/venv/bin/python3 main_headless_corp.py
Restart=always
RestartSec=5
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
