[Unit]
Description=CCTV Face Recognition Headless Attendance Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/dmk-fr/Documents/cctv-faceregoction/corp_beta
ExecStart=/home/dmk-fr/Documents/cctv-faceregoction/corp_beta/venv/bin/python3 main_headless_corp.py
Restart=always
RestartSec=5
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
